@import url('https://fonts.cdnfonts.com/css/inter');

*{

    font-family: 'Poppins', sans-serif;

}

body{
    max-width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
    position: relative;                                 
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plate{
    background-color: white;
    width: 550px;
    height: 540px;
    border-radius: 15px;
    margin:8vh 0;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
    padding-top: 45px;
}

.backarrow{
    background-image: url(../icon/back-arrow.png);
    background-size: cover;
    background-position: center;
    border: none;
    background-color: white;
    margin-left: 20px;
    transition: 0.2s;
    padding: 8px 16px;
}

.backarrow:hover{
    background-image: url(../icon/back-arrow-hovered.png);
    transition: 0.2s;
    padding: 8px 16px;
}

.formcontainer{
    margin: 0 25px;
}

.label1{
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
}

.label2{
    font-size: 13px;
    margin-top: 10px;
    color: #636363;
}

.fillform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.npt{
    border-radius: 25px;
    border: none;
    background-color: #E7E7E7;
    padding: 15px 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 90%;
}

.npt:focus{
    outline: none;
}

.submit{
    border-radius: 50px;
    border: none;
    color: white;
    background-color: black;
    padding: 15px 0;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 170px;
    font-size: 18px;
    font-weight: 600;
}

.submit:hover{
    background-color: #313131;
    transition: 0.3s;
}

.label3{
    font-size: 13px;
    margin-top: 10px;
    color: #636363;
    text-align: center;
}

.link1{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.link1:hover{
    color: #313131;
    transition: 0.3s;
}

.prompt{
    color: red;
    z-index: 2;
    right: 80px;
    font-size: 10px;
    position: relative;
    height: 0px;
}